@model SignIn_vmodel

@{
    ViewBag.Title = "Inicio de Sesión";
}
<h1 class="font-italic mt-3">Inicio de Sesión</h1>

<div class="row justify-content-center mt-2">
    <div class="col-sm-12 col-md-7 col-lg-5 col-xl-4">
        <form method="post">
            <div class="text-danger mt-2" asp-validation-summary="All"></div>
            <hr />
            <div class="form-group">
                <label class="font-weight-bold" asp-for="UserOrEmail"></label>
                <input class="form-control" placeholder="Usuario o Email" asp-for="UserOrEmail" />
                <span class="text-danger" asp-validation-for="UserOrEmail"></span>
            </div>
            <div class="form-group">
                <label class="font-weight-bold" asp-for="Password"></label>
                <input class="form-control" placeholder="Contraseña" asp-for="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersistentCookies">
                    <input asp-for="PersistentCookies" />
                    @Html.DisplayNameFor(x => x.PersistentCookies)
                </label>
            </div>

            <button class="btn btn-primary my-2" type="submit" style="width: auto;">Iniciar Sesión</button>
            <div>
                <a asp-action="ForgotPassword">¿Olvidaste tu contraseña?</a>
            </div>
        </form>

        <hr />
    </div>
    <div class="col-12 text-center mt-2">
        <div>
            @{
                if (Model.ExternalLogins.Count() == 0)
                {
                    <h3>No existen metodos externos para iniciar sesión</h3>
                }
                else
                {
                    <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                        <h4>Tambien puedes:</h4>
                        <div>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary border-info" name="provider" value="@provider.Name"
                                        title="Inicio de sesión usando su cuenta @provider.DisplayName" style="width:auto;">
                                    Iniciar sesión con <b>@provider.DisplayName</b>
                                    @switch (provider.Name.ToUpper())
                                    {
                                        case "GOOGLE":
                                            <img class="ml-1" src="~/images/google.png" width="50" height="50" />
                                            break;
                                        default:
                                            break;
                                    }
                                </button>
                            }
                        </div>
                    </form>
                }
            }
        </div>
    </div>
</div>