@model IEnumerable<HomeService>

@{
    ViewBag.Title = "Ubicación";
}

@if (Model.Count() > 0)
{
    <h1 class="my-3" style="font-family:Arial">Ubicación: @Model.ElementAt(0).Location</h1>
    <a class="btn btn-primary" asp-controller="home" asp-action="Create" style="width:auto;">Crear Servicio</a>
    <a class="btn btn-dark" asp-controller="home" asp-action="index" style="width:auto;">Regresar</a>
    <div class="text-center">
        @foreach (var homeService in Model)
        {
            <a class="text-decoration-none d-inline-flex" style="color:black;" asp-controller="Home"
               asp-action="ServiceDetail" asp-route-id="@homeService.EncryptedId">
                <div class="card m-2" style="min-width:15rem; max-width:15rem;">
                    <div class="card-header text-center">
                        @switch (homeService.ServiceType.ToString())
                        {
                            case "Internet":

                                <img src="~/images/internet.png" class="img-thumbnail rounded-circle"
                                     width="50" height="50" />
                                @homeService.ServiceType

                                break;
                            case "Agua":

                                <img src="~/images/agua.png" class="img-thumbnail rounded-circle"
                                     width="50" height="50" />
                                @homeService.ServiceType

                                break;
                            case "Energia_Electrica":

                                <img src="~/images/eElec.png" class="img-thumbnail rounded-circle"
                                     width="50" height="50" />
                                @homeService.ServiceType

                                break;
                            case "Gas_Domiciliario":

                                <img src="~/images/gDomic.png" class="img-thumbnail rounded-circle"
                                     width="50" height="50" />
                                @homeService.ServiceType

                                break;
                        }
                    </div>
                    <div class="card-body text-left">
                        Ubicación: <div class="h6 d-inline">@homeService.Location</div><br />
                        Institución: <div class="h6 d-inline"> @homeService.Institution</div><br />
                        A nombre de: <div class="h6 d-inline">@homeService.LeasedTo</div><br />
                        @homeService.PaymentCriteria:
                        <div class="text-center h4">@homeService.PaymentId</div>
                    </div>
                </div>
            </a>
        }
    </div>}
else
{
    <h1 class="text-center m-4"> No existe ningun servicio registrado en esta ubicación</h1>
    <a class="btn btn-primary" asp-controller="home" asp-action="Create" style="width:auto;">Crear Servicio</a>
    <a class="btn btn-dark" asp-controller="home" asp-action="index" style="width:auto;">Regresar</a>
}