@model IEnumerable<HomeService>

@{
    ViewBag.Title = "A nombre de";
}

@if (Model.Count() > 0)
{
    <h1 class="my-3" style="font-family:Arial">A nombre de: @Model.ElementAt(0).LeasedTo</h1>

    <div class="card-deck">
        @foreach (var homeService in Model)
        {
            <a class="text-decoration-none" style="color:black;" asp-controller="Home"
               asp-action="ServiceDetail" asp-route-id="@homeService.EncryptedId">
                <div class="card m-2" style="min-width:15rem; max-width:15rem;">
                    <div class="card-header text-center">
                        @switch (homeService.ServiceType.ToString())
                        {
                            case "Internet":

                                <img src="~/images/internet.png" class="img-thumbnail rounded-circle"
                                     width="50" height="50" />
                                @homeService.ServiceType

                                break;
                            case "Agua":

                                <img src="~/images/agua.png" class="img-thumbnail rounded-circle"
                                     width="50" height="50" />
                                @homeService.ServiceType

                                break;
                            case "Energia_Electrica":

                                <img src="~/images/eElec.png" class="img-thumbnail rounded-circle"
                                     width="50" height="50" />
                                @homeService.ServiceType

                                break;
                            case "Gas_Domiciliario":

                                <img src="~/images/gDomic.png" class="img-thumbnail rounded-circle"
                                     width="50" height="50" />
                                @homeService.ServiceType

                                break;
                        }
                    </div>
                    <div class="card-body">
                        Ubicación: <div class="h6 d-inline">@homeService.Location</div><br />
                        Institución: <div class="h6 d-inline"> @homeService.Institution</div><br />
                        A nombre de: <div class="h6 d-inline">@homeService.LeasedTo</div><br />
                        @homeService.PaymentCriteria:
                        <div class="text-center h4">@homeService.PaymentId</div>
                    </div>
                </div>
            </a>
        }
    </div>}
else
{
    <h1 class="text-center m-4"> No existe ningun servicio registrado para esta persona</h1>
}
<a class="btn btn-primary m-2" asp-controller="home" asp-action="index">Regresar</a>