@model IEnumerable<HomeService>

@{
    ViewBag.Title = "Listar Todos";
}

@if (Model.Count() > 0)
{
    <h1> Todos los servicios:</h1>

    @foreach (var homeService in Model)
    {
        <div>@homeService.ServiceType</div>
        <div>@homeService.Institution</div>
        <div>@homeService.LeasedTo</div>
        <div>@homeService.PaymentCriteria</div>
        <div>@homeService.PaymentId</div>
        <hr />
    }
}
else
{
    <h1> No existe ningun servicio registrado</h1>
}

<a asp-controller="home" asp-action="index">Regresar</a>